## TODO: Modularize the gitlab yaml to reuse templates

## Define the stages & order of execution

stages:
  - CLUSTER-SETUP
  - PROVIDER-INFRA-SETUP
  - DIRECTOR-HEALTH-CHECK
  - DIRECTOR-FUNCTIONALITY-CHECK
  - CLUSTER-CLEANUP

## Setup the kubernetes cluster
cluster-create:
  image: atulabhi/kops:v8
  stage: CLUSTER-SETUP
  script: 
    - chmod 755 ./stages/1-cluster-setup/gcp
    - ./stages/1-cluster-setup/gcp
  artifacts:
    when: always
    paths:
      - .kube/

## Deploy director-onprem
director-deploy:
  image: atulabhi/kops:v8
  stage: PROVIDER-INFRA-SETUP
  dependencies:
    - cluster-create
  script: 
   - chmod 755 ./stages/2-provider-infra-setup/infra-setup
   - ./stages/2-provider-infra-setup/infra-setup
  artifacts:
    paths:
      - .kube/

## director health check jobs
maya-io-server-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
   - chmod 755 ./stages/3-director-sanity-check/maya-io-server-check
   - ./stages/3-director-sanity-check/maya-io-server-check
  artifacts:
    paths:
      - .kube/

maya-ui-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/maya-ui-check
    - ./stages/3-director-sanity-check/maya-ui-check
  artifacts:
    paths:
      - .kube/

od-elasticsearch-logging-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/od-elasticsearch-logging-check
    - ./stages/3-director-sanity-check/od-elasticsearch-logging-check
  artifacts:
    paths:
      - .kube/

od-kibana-logging-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/od-kibana-logging-check
    - ./stages/3-director-sanity-check/od-kibana-logging-check
  artifacts:
    paths:
      - .kube/
      
table-manager-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/table-manager-check
    - ./stages/3-director-sanity-check/table-manager-check
  artifacts:
    paths:
      - .kube/

chat-server-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/chat-server-check
    - ./stages/3-director-sanity-check/chat-server-check
  artifacts:
    paths:
      - .kube/

cloud-agent-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/cloud-agent-check
    - ./stages/3-director-sanity-check/cloud-agent-check
  artifacts:
    paths:
      - .kube/

mysql-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/mysql-check
    - ./stages/3-director-sanity-check/mysql-check
  artifacts:
    paths:
      - .kube/

maya-grafana-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/maya-grafana-check
    - ./stages/3-director-sanity-check/maya-grafana-check
  artifacts:
    paths:
      - .kube/

memcached-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/memcached-check
    - ./stages/3-director-sanity-check/memcached-check
  artifacts:
    paths:
      - .kube/

## cortex infrastructure components jobs
alertstore-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/alertstore-check
    - ./stages/3-director-sanity-check/alertstore-check
  artifacts:
    paths:
      - .kube/

alertstore-tablemanager-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/alertstore-tablemanager-check
    - ./stages/3-director-sanity-check/alertstore-tablemanager-check
  artifacts:
    paths:
      - .kube/

alertmanager-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/alertmanager-check
    - ./stages/3-director-sanity-check/alertmanager-check
  artifacts:
    paths:
      - .kube/

cassandra-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/cassandra-check
    - ./stages/3-director-sanity-check/cassandra-check
  artifacts:
    paths:
      - .kube/

consul-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/consul-check
    - ./stages/3-director-sanity-check/consul-check
  artifacts:
    paths:
      - .kube/

distributor-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/distributor-check
    - ./stages/3-director-sanity-check/distributor-check
  artifacts:
    paths:
      - .kube/

ingestor-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/ingestor-check
    - ./stages/3-director-sanity-check/ingestor-check
  artifacts:
    paths:
      - .kube/

querier-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/querier-check
    - ./stages/3-director-sanity-check/querier-check
  artifacts:
    paths:
      - .kube/

ruler-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/ruler-check
    - ./stages/3-director-sanity-check/ruler-check
  artifacts:
    paths:
      - .kube/

configs-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/configs-check
    - ./stages/3-director-sanity-check/configs-check
  artifacts:
    paths:
      - .kube/

configs-db-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script: 
    - chmod 755 ./stages/3-director-sanity-check/configs-db-check
    - ./stages/3-director-sanity-check/configs-db-check
  artifacts:
    paths:
      - .kube/

## director functionality check jobs
dmaas-check:
  image: atulabhi/kops:v8
  stage: DIRECTOR-FUNCTIONALITY-CHECK
  dependencies:
    - director-deploy
  script: 
   - chmod 755 ./stages/4-director-functionality-check/dmaas-check
   - ./stages/4-director-functionality-check/dmaas-check
  artifacts:
    paths:
      - .kube/

## cluster cleanup
cluster-cleanup:
  when: always
  image: atulabhi/kops:v8
  dependencies:
    - cluster-create
  stage: CLUSTER-CLEANUP
  script: 
    - chmod 755 ./stages/5-cluster-cleanup/cluster-cleanup
    - ./stages/5-cluster-cleanup/cluster-cleanup